.my-page-body{
    margin: 0;
    padding: 0;
    background-color: #7d7d7d;
    box-sizing: border-box;
}

.my-container{
    padding: 10rem 5rem;
    min-height: 90vh;
}
.bg-coral{
    background-color: #f08080;
}
