.my-page-body{
    margin: 0;
    padding: 0;
    background-color: #7d7d7d;
    box-sizing: border-box;
}

.my-container{
    padding: 6rem 5rem;
    min-height: 95vh;
}
.bg-coral{
    background-color: #282828;
}

body{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    // font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}