.contact-us{
    .card{
        border-radius: 2rem; 
        border:none;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    .card-body{
        @include side-by-side(row,start,stretch);
        padding: 0;
        border: none;
        .contact-people{
            position: relative;
            flex-basis: 50%;
            padding: 2rem 5rem;
            @include side-by-side(column, space-around, start);
            .title{
                display: inline-block;
            }
            .person{
                display: inline-block;
            }
            .text-prim{
                position: relative;
                span{
                    overflow-wrap: break-word;
                    z-index: 4;
                    background-color: #d6d6d6;
                    padding: 0.3rem 0.5rem;
                    border-radius: 0.3rem;
                }
            }
            .contact-info{
                transition: all 0.3s ease-in-out;
                opacity: 0;
            }
            .peop{
                h4{
                    margin: 1.5rem 0;
                }
            }
            .person:hover .contact-info{
                opacity: 1;
            }
            .my-hover-div-1{
                color: $prim;
                transition: all 0.2s ease-in-out;
                width: 80%;
                margin-left: 2rem;
                
            }
        }



        .contact-social{
            flex-basis: 50%;
            position: relative;
            .img-container{
                width: 100%;
                height: 100%;
                max-height: 45rem;
                img{
                    object-fit:fill;
                    border-radius: 0 2rem 2rem 0;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                }
                
            }
            .img-container::after{
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                border-radius: 0 2rem 2rem 0;
            }
            .img-container::before{
                content: '';
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%,-50%);
                object-position: center;
                position: absolute;
                background: url('../images/Sports-PNG-Image.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                overflow: visible;
                z-index: 1;
            }

            .links-div{
                position: absolute;
                z-index: 10;
                width: 100%;
                @include side-by-side(row,space-around,center);
                transform: translateY(-70%);
                .media-link{
                    border: 2px solid #777;
                    
                    i{
                        font-size: 3rem;
                        color: #777;
                        transition: all 0.2s ease-in-out;
                    }
                    .link-desc{
                        display: none;
                    }
                }
                .link-1,.link-2,.link-3,.link-4{
                    background: white;
                    border-radius: 100%;
                    width: 5rem;
                    height: 5rem;
                    @include side-by-side(row,center,center)
                }
                .link-1{
                    background: linear-gradient(45deg, #fff, #fff);
                }
                
                .link-1:hover{
                    // background: #a750b4; 
					background: linear-gradient(45deg, #5851db, #833ab4, #c13584, #e1306c);
                    border-color: #777;
                    i{
                        color: white;
                    }
                }
                .link-2:hover{
                    background:#4267B2; 
                    border-color: transparent;
                    i{
                        color: white;
                    }
                }
                .link-3:hover{
                    background:#f18080; 
                    border-color: transparent;
                    i{
                        color: white;
                    }
                }
                .link-4:hover{
                    background:#635dbe; 
                    border-color: transparent;
                    i{
                        color: white;
                    }
                }
            }

        }
    }
}