.event-container{
    background-color: rgb(248, 255, 240);
}
.all-posters{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    gap: 5rem;
    column-gap: 6rem;
    justify-items: center;
    z-index: 1;
    a{
        text-decoration: none;
    }
}

.poster {
    width: 15rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid red;
}
  
.poster-img {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        z-index: 4;
    }
    z-index: 3;
    
    .event-tag{
        background-color: $secondary;
        padding: 0.2rem 1rem;
        width: 70%;
        color: white;
        text-align: end;
        position: absolute;
        right: 0;
        bottom: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        transition: all 0.35s ease-in-out;
        z-index: -1;
    }

}
.poster-img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: #FFBD59;
    transform: translate(0.5rem,0.5rem);
    transition: all 0.2s ease-in-out;
}

.poster-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background: url('../images/hover-pattern.png') repeat;
    background-size: 5px;
    transform: translate(-0.5rem,-0.5rem);
    transition: all 0.2s ease-in-out;
}

.poster:hover {
    cursor: pointer;
    
    .poster-img:before {
        // transform: translate(-2rem,-0.8rem);
        transform: translate(-1.4rem,-1.1rem);
    }
    
    .poster-img:after {
        background-color: #FFBD59;
        // transform: translate(2rem,0.8rem);
        transform: translate(1.5rem,1.1rem);
    }

    .event-tag{
        // z-index: 3;
        transform: translateY(100%);
    }
}




// ####################### event details
.event-details{
    // padding-left: 1rem;
    // box-shadow: 0 0 10px 2px rgba(38, 41, 51, 0.4);
    box-shadow: 0 0 25px 3px rgba(200, 203, 212, 0.5);
    background-color: #fafafa;
    border-radius: 2rem;
}


.detailed-poster-img{
    width: 100%;
    max-height: 35rem;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    img{
        width: 100%;
        max-height: 35rem;
        object-fit: contain;
    }
}

// .col-md-5,.col-md-7{
//     padding: 0;
// }

.content-side{
    border-left: 1px solid rgba(38, 41, 51, 0.4);
    // background-color: aliceblue;
    .details{
        // border: 1px solid red;
        padding: 0 2rem;
        .eventName{
            // border: 1px solid lime;
            border-bottom: 0.5rem solid $secondary;
        }
        .eventDesc{
            // border: 1px solid lime;
            margin: 5rem 0;
            p{
                font-size: 1.2rem;
            }
        }
        .event-coordinator{
            // border: 1px solid lime;
            color: $secondary;
        }
    }
}

.stripes{
	background: repeating-linear-gradient(
  	135deg,
  #c8530b,
  #c8530b 10px,
  #000000 10px,
  #000000 20px,
);
}