footer{
    min-height: 5rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(100, 100, 100); /*secondary*/
    color: #ffffff;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
}