.carousel{
    height: 105vh;
    position: relative;

    .carousel-item{
        height: 105vh;
        position: relative;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
        .carousel-caption{
            z-index: 2;
            text-align: start;
            transform: translateY(-15rem);
            animation: fade-in 2s;
            h1{
                font-size: 5rem;
            }
        }
        
    }
    .carousel-item::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 0;
    }
    
}

.media-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	.trailer-video-container{
		// margin-top: 1rem;
		video{
			width: 70vw;
			margin-top: 10rem;
		}
	}

	.theme-announcement{
		text-align: center;
	}

	.photos-container{
		display: flex;
		justify-content: space-between;
		.photo{
			margin: auto 2rem;
			img{
				object-fit: cover;
				max-height: 18rem;
			}
		}
	}
}