.carousel{
    height: 95vh;
    position: relative;
    .carousel-inner{
        height: 100%;
    }
    .carousel-item{
        height: 100%;
        position: relative;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
        .carousel-caption{
            z-index: 2;
            text-align: start;
            transform: translateY(-15rem);
            animation: fade-in 2s;
            h1{
                font-size: 5rem;
            }
        }
        
    }
    .carousel-item::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 0;
    }
    
}

.media-container{
	display: flex;
	align-items: center;
	flex-direction: column;

    .trailer-video-container{
        // margin-top: 1rem;
        margin: 5rem 0;
        border: 2px solid grey;
        video{
            width: 70vw;
        }
    }
    .theme-container{
        border: 3px solid blue;
        margin-bottom: 5rem;
        .theme-announcement{
            text-align: center;
            border: 3px solid red;
        }
        .theme-video-container{
            video{
                width: 70vw;
            }
        }
    }

	.photos-container{
		display: flex;
		justify-content: center;
        border: 2px solid greenyellow;
        flex-wrap: wrap;
        margin: 3rem;
		.photo{
            margin: 2rem;
			img{
				object-fit: cover;
                max-width: 35rem;
                width: 30rem;
                height: 100%;
			}
		}
	}
}