@media (min-width: 901px) and (max-width:1100px){
    html{
        font-size: 90%;
        
    }
}
@media (min-width: 601px) and (max-width:900px){
    html{
        font-size: 80%;
    }
}
@media (min-width: 401px) and (max-width:600px){
    html{
        font-size: 70%;
    }
}
@media (max-width:500px){
    html{
        font-size: 60%;
    }
    
    .branding{
        .overlay{
            --s: 7rem;
            --f: calc(var(--s) * 1.732 - 1px); 

            .branding-title{
                .text-1{
                    font-size: 5rem;
                }
                .text-2{
                    font-size: 7rem;
                }
            }

            .hexa-container{
                width: 35rem;
                .hexa-links{
                    // @include get-over(25%, 50%, 35%, 100%);
                    .hex{
                        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
                        background-color: $my-blue;
                        width: var(--s);
                        height: calc(var(--s) * 1.1547);
                        font-size: 1rem;
                        padding: 0;
                        margin-bottom: - 2rem;
                        color: white;
                    }
                }
                .hexa-links::before {
                    content: "";
                    width: calc(var(--s) / 2 );
                    float: left;
                    height: 120%; 
                    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
                }
            }
            
        }
    }

    @keyframes fade-in {
        0%{
            width: 0;
        }
        50%{
            width: 32rem;
        }
        100%{
            width: 0;
        }

    }

    .contact-us{
        .card-body{
            .contact-people{
                span{
                    font-size: 80%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                }
            }
            .contact-social{
                .media-link{
                    
                    font-size: 0.8rem;
                
                }
                .links-div{
                    .link-1,.link-2,.link-3,.link-4{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    .content-side{
        border: none;
    }
    .contact-us{
        .card{
            border-radius: 1rem;
        }
        .card-body{

            .contact-people{
                padding: 2rem;
                align-items: center;
                text-align: center;
            }
            .peop{
                text-align: start;
                padding-left: 2rem;
            }
            
        }
    }
    .branding{
        .overlay{
            .hexa-container{
                margin: 4rem 0;
            }
        }
    }
}

@media (max-width:990px){
    .navbar-collapse{
        .navbar-nav{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
}


@media (max-width:1300px){
    .navbar-nav{
        margin-left: 5rem;
    }
    .nav-link{
        margin: 0 1rem;
    }
}


@media (max-width:1200px){

    
    .branding{
        .overlay{
            .branding-title{
                padding-top: 5rem;
            }
            .branding-title::before{
                width: 75%;
            }
            .hexa-container{
                padding-top: 5rem;
            }
        }
    }
    
    .gallery::after,
    .gallery .overlay{
        display: none;
    }
    .contact-us{
        .card-body{
            flex-flow: column nowrap;
            .contact-social{
                .img-container{
                    height: 20rem;
                    img{
                        height: 100%;
                        overflow: hidden;
                        object-fit: cover;
                        border-radius: 0 0 1rem 1rem;
                    }
                }
                .img-container::after{
                    border-radius: 0 0 1rem 1rem;
                }
            }
        }
    }
}