
/* ####################################### navbar ###################################### */
.navbar{
    padding: 0.8em 6em;
    background-color: rgba(100,100,100, 0.8); /*secondary*/
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    // flex-wrap: nowrap;
}
.navbar-nav{
    margin-left: 8rem;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-between;
    // align-items: center;
    // width: 70%;    
}

.navbar-toggler{
    color: black;
    background-color: white;
}

.bg-transparent{
    background-color: transparent;
}

.navbar .logo{
    position: relative;
}

.logo img{
    width: 7rem;
    // height: 100%;
}

.navbar h3{
    margin-bottom: 0;
}

.nav-link{
    color: #efefef;
    margin: 1rem 3rem;
}
.nav-link:hover{
    color: #fff;
}