
/* ####################################### navbar ###################################### */
.navbar{
    padding: 0.8em 6em;
    // background-color: rgba(108, 117, 125, 0.3); /*secondary*/
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    flex-wrap: nowrap;
}
.navbar-nav{
    margin-left: 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;    
}

.bg-transperent{
    background-color: transparent;
}

.navbar .logo{
    position: relative;
}

.logo img{
    width: 7rem;
    // height: 100%;
}

.navbar h3{
    margin-bottom: 0;
}
