.register-section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    // background-image: url("/static/images/Sports.png");
    // background-repeat: no-repeat;
    // background: linear-gradient(to right top, $reg-pri,$reg-sec, $reg-tri);
    // background-size: 200%;
    // position: relative;
    // min-height: 100vh;
    // animation-name: move-bg;
    // animation-duration: 10s;
    // animation-iteration-count: infinite;
    // animation-timing-function: ease-in-out;
    // z-index: 0;
}
.register-section::after{
    content: '';
    position: absolute;
    bottom: 0;
    
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/equip3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

// @keyframes move-bg{
//     0%{
//         background-position: (0% 0%);
//     }
//     50%{
//         background-position: (100% 100%);
//     }
//     100%{
//         background-position: (0% 0%);
//     }
// }

.register-section .form-group{
    margin: 1rem 0;
}


.register-section .card{
    width: 30rem;
    box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
    margin: 1rem;
    background-color: transparent;
    z-index: 2;
}
.register-section .container{
    padding: 10rem 0;
    // position: absolute;
    display: flex;
    justify-content: center;
}

.register-section .input-group-text{
    padding: 0.7rem;
}

.register-section .input-group-text-select{
    display: flex;
    background-color: #e9ecef;;
    align-items: center;
    line-height: 1.5rem;
    padding: 0.7rem 0.65rem;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: #495057;

}

.input-color{
    color: #495057;
}

.mybtn{
    // background-image: linear-gradient(to bottom,  #db5050,#ff8060, #fff066);
    background-color: #ff9166;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    // display: block;
    width: 100%;
}

.mybtn:hover{
    background-color: #ff7260;
    color: #ffffff;
}