.register-section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}
.register-section::after{
    content: '';
    position: absolute;
    bottom: 0;
    
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/equip3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


.register-section .form-group{
    margin: 2rem 0;
}


.register-section .card{
    width: 32rem;
    box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
    margin: 1rem;
    background-color: transparent;
    z-index: 2;
    border-radius: 1rem;
}
.register-section .container{
    padding: 5rem 0;
    // position: absolute;
    display: flex;
    justify-content: center;
}

.register-section .input-group-text{
    padding: 0.7rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid silver;
    border-radius: 0;
}

.fa-2x{
    font-size: 1.4rem !important;
    color: #666;
}

.register-section .input-group-text-select{
    display: flex;
    background-color: #e9ecef;;
    align-items: center;
    line-height: 1.5rem;
    padding: 0.7rem 0.65rem;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: #495057;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid silver;
    border-radius: 0;
}

.register-section{
    input, select{
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0;
        padding-left: 1rem;
    }
    input:focus,select:focus{
        box-shadow: none;
        border-bottom: 2px solid silver;
        background-color: transparent;
    }

    .input-group{
        &:focus-within > .placeholder,
        &:not(:focus-within):valid > .placeholder
        {
            top: -13px;
            transform: scale(0.8);
            transform-origin: 0;
        }

        .placeholder{
            position: absolute;
            left: 4rem;
            top: 0.9rem;
            transform-origin: 0;
            transition: all 0.2s ease-in-out;
            color: #495057;
            z-index: -1;
        }
        
        input:not(:placeholder-shown) + label,
        select:valid + label
        {
            top: -13px;
            transform: scale(0.8);
            transform-origin: 0;
        }
    }

    .keepUp{
        top: -13px;
        transform: scale(0.8);
        transform-origin: 0;
    }
}



.input-color{
    color: #495057;
}

.mybtn{
    // background-image: linear-gradient(to bottom,  #db5050,#ff8060, #fff066);
    // background-color: #ff9166;
    background-color: $prim-dark;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    // display: block;
    width: 100%;
}

.mybtn:hover{
    // background-color: #ff7260;
    background-color: $prim;
    color: #ffffff;
}