// util
.my-box-shadow{
    box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
}


// scale up the boxes on hover
.my-hover-div-1{
    transition: all 0.2s ease-in-out;
}
.my-hover-div-1:hover{
    transform: scale(1.05);
}

// apply animated gradient to background
// *** ALWAYS ADD color-x CLASS ALONG WITH bg-gradient

@mixin bg-gradient($val1,$val2, $val3){
    background-repeat: no-repeat;
    background: linear-gradient(to right top, $val1,$val2, $val3);
    background-size: 200%;
    position: relative;
    min-height: 100vh;
    animation-name: move-bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes move-bg{
    0%{
        background-position: (0% 0%);
    }
    50%{
        background-position: (100% 100%);
    }
    100%{
        background-position: (0% 0%);
    }
}
.color-register-page{
    @include bg-gradient($reg-pri,$reg-sec, $reg-tri);
}
.color-contact-page{
    @include bg-gradient(#D16BA5,#86A8E7 , #5FFBF1)
}
.color-events-page{
    @include bg-gradient(#ffafbd ,#fa98fa, #ffc3a0, )
}