@mixin get-over($top,$left,$w,$h){
    position: absolute;
    width: $w;
    height: $h;
    top: $top;
    left: $left;
}


.my-box-shadow{
    box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
}

.text-prim{
    color: rgb(126, 10, 161);
}

@mixin side-by-side($direction, $justify, $align){
    display: flex;
    flex-flow: $direction wrap;
    justify-content: $justify;
    align-items: $align;
}

// scale up the boxes on hover
.my-hover-div-1{
    transition: all 0.2s ease-in-out;
}
.my-hover-div-1:hover{
    transform: scale(1.05);
    i, .fa{
        color: white !important;
    }
}




.underline{
    position: relative;
}
.underline::before {
    content: "";
    position: absolute;
    left: -5%;
    top:85%;
    width: 75%;
    height: 0.7rem;
    transform: skew(-25deg);
    background: rgba(209, 79, 248, 0.5);
  }


  .underline-2{
    position: relative;
}
.underline-2::before {
    content: "";
    position: absolute;
    left: -5%;
    top:85%;
    width: 75%;
    height: 0.5rem;
    transform: skew(-45deg);
    background: rgb(255, 198, 92);
  }



// apply animated gradient to background
@mixin bg-gradient($val1,$val2){
    background-repeat: no-repeat;
    background: linear-gradient(to right, $val1,$val2);
    background-size: 300%;
    position: relative;
    min-height: 100vh;
    animation-name: move-bg;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes move-bg{
    0%{
        background-position: (0% 0%);
    }
    50%{
        background-position: (100% 100%);
    }
    100%{
        background-position: (0% 0%);
    }
}
.color-register-page{
    // @include bg-gradient(#e26777,#fd896c);
    @include bg-gradient(#000428 , #004e92);
    @include bg-gradient($grad-1,$grad-2);
}
.color-contact-page{
    @include bg-gradient(#D16BA5,#86A8E7);
    @include bg-gradient($grad-1,$grad-2);
}
.color-events-page{
    // @include bg-gradient(#1b1241,#7c0b92)
    @include bg-gradient(#000428, #004e92);
    @include bg-gradient($grad-1, $grad-2);
}
.color-gallery-page{
    // @include bg-gradient(#000428 ,#0d395f, #006a9b)
    background: linear-gradient(to right bottom,#000428 , #004e92);
    @include bg-gradient($grad-1, $grad-2);
}

.color-event-details-page{
    // @include bg-gradient(#1b1241,#7c0b92)
    @include bg-gradient(#000428 , #004e92);
    @include bg-gradient($grad-1, $grad-2);
}