$secondary: rgba(38, 41, 51, 0.9);
$secondary: rgb(32, 35, 46);
$my-blue: rgb(32, 35, 46);
$prim: rgb(126, 10, 161);
$prim-dark: rgb(85, 20, 105);

$tert: rgba(16, 41, 124, 0.9);
$tert-dark: rgba(17, 32, 80, 0.9);

$caption-col: #fbff2a;

$grad-1: rgb(115, 222, 255);
$grad-2: rgb(208, 107, 255);