@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
.my-page-body {
  margin: 0;
  padding: 0;
  background-color: #7d7d7d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-container {
  padding: 6rem 5rem;
  min-height: 95vh;
}

.bg-coral {
  background-color: #282828;
}

/* ####################################### navbar ###################################### */
.navbar {
  padding: 0.8em 6em;
  background-color: rgba(38, 41, 51, 0.9);
  /*secondary*/
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-nav {
  margin-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler {
  color: black;
  background-color: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler .line {
  width: 20px;
  height: 3px;
  background-color: #65648b;
  margin: 2.5px 0;
  border-radius: 5px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg-transparent {
  background-color: transparent;
}

.navbar .logo {
  position: relative;
}

.logo img {
  width: 6rem;
}

.navbar h3 {
  margin-bottom: 0;
}

.nav-link {
  color: #efefef;
  margin: 0 3rem;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #fff;
}

.carousel {
  height: 100vh;
  position: relative;
}

.carousel .carousel-item {
  height: 100vh;
  position: relative;
}

.carousel .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.carousel .carousel-item .carousel-caption {
  z-index: 2;
  text-align: start;
  position: absolute;
  top: 70%;
  left: 10%;
  padding: 0;
  -webkit-animation: fade-in 4s infinite ease-in-out;
          animation: fade-in 4s infinite ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #fbff2a;
  bottom: auto;
  overflow: hidden;
  word-wrap: none;
  white-space: nowrap;
}

.carousel .carousel-item .carousel-caption h1 {
  font-size: 5rem;
  padding: 0.5rem 2rem;
  color: rgba(38, 41, 51, 0.9);
}

.carousel .carousel-item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

@-webkit-keyframes fade-in {
  0% {
    width: 0;
  }
  50% {
    width: 40rem;
  }
  100% {
    width: 0%;
  }
}

@keyframes fade-in {
  0% {
    width: 0;
  }
  50% {
    width: 40rem;
  }
  100% {
    width: 0%;
  }
}

.media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.media-container .trailer-video-container video, .media-container .theme-video-container video {
  width: 98.9vw;
  margin-top: 6rem;
}

.media-container .theme-announcement {
  text-align: center;
}

.media-container .photos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media-container .photos-container .photo {
  margin: auto 2rem;
}

.media-container .photos-container .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 18rem;
}

.right {
  float: right;
}

.poster__heading, .poster__subheading {
  text-align: center;
}

.poster__heading {
  margin: 0 auto;
}

.btn--primary, .btn--comments {
  display: inline;
  text-decoration: none;
  padding: .45em 1.25em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .75rem;
  border-radius: 25px;
  color: white;
  font-family: "Open Sans";
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

@media screen and (min-width: 31.25em) {
  font-size: 105%;
}

@media screen and (min-width: 50em) {
  font-size: 115%;
}

@media screen and (min-width: 75em) {
  font-size: 125%;
}

ul {
  list-style-type: none;
}

.btn--primary {
  border: 1px solid white;
}

.btn--primary:hover {
  background-color: white;
  color: black;
}

.poster {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.poster__heading {
  width: 95%;
  color: white;
  padding-top: 5.5rem;
  font-weight: 600;
  font-size: 2em;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media screen and (min-width: 31.25em) {
  .poster__heading {
    font-size: 2.25em;
  }
}

@media screen and (min-width: 50em) {
  .poster__heading {
    font-size: 2.75em;
  }
}

.poster__subheading {
  display: block;
  font-size: .3em;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF9639;
  padding-top: .8em;
  margin-bottom: .6em;
}

.btn--comments {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: .6em;
}

.btn--comments:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.timeline-wrapper {
  position: relative;
  padding-bottom: 25em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #000), color-stop(60%, #283048), color-stop(70%, #55679a), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(#000 10%, #283048 60%, #55679a 70%, rgba(255, 255, 255, 0));
}

.timeline-wrapper:after {
  content: '';
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  position: absolute;
  background-position: 25% center;
  z-index: -10;
  bottom: 0;
}

.svg-timeline {
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: 8px;
  height: 77.8%;
  background-color: azure;
}

@media screen and (min-width: 50em) {
  .svg-timeline {
    display: block;
    fill: red;
  }
}

.svg-elasped-timeline {
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: 8px;
  height: 50vh;
  background-color: azure;
}

@media screen and (min-width: 50em) {
  .svg-elasped-timeline {
    display: block;
    fill: red;
  }
}

.timeline {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 31.25em) {
  .timeline {
    width: 80%;
  }
}

@media screen and (min-width: 50em) {
  .timeline {
    width: 95%;
  }
}

.timeline__item {
  margin-bottom: 4em;
  border: red 2px solid !important;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  clear: both;
}

@media screen and (min-width: 50em) {
  .timeline__item {
    width: 40%;
  }
}

.timeline__day {
  font-weight: 600;
  font-size: .9em;
  color: white;
  text-transform: uppercase;
  padding-bottom: .75em;
}

.timeline__day span {
  font-weight: 300;
  color: orange;
  text-transform: none;
}

.timeline__day-sum {
  color: white;
  font-weight: 300;
  font-size: .8em;
  display: block;
  line-height: 1.5;
}

.timeline {
  padding: 2rem;
}

.timeline li {
  /* From https://css.glass */
  padding: 1.5rem;
  background: rgba(70, 70, 70, 0.42);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(80, 80, 80, 0.44);
}

.gallery {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.gallery img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.gallery .overlay {
  position: absolute;
  font-size: 5em;
  text-align: center;
  color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.gallery::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 0;
}

.gallery:hover::after {
  opacity: 0;
  z-index: -1;
  height: 0;
}

.gallery:hover .overlay {
  opacity: 0;
  z-index: -1;
  overflow: hidden;
}

.event-container {
  background-color: #f8fff0;
}

.all-posters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 5rem;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  justify-items: center;
  z-index: 1;
}

.all-posters a {
  text-decoration: none;
}

.poster {
  width: 15rem;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster-img {
  position: relative;
  width: 100%;
  z-index: 3;
}

.poster-img img {
  width: 100%;
  z-index: 4;
}

.poster-img .event-tag {
  background-color: rgba(38, 41, 51, 0.9);
  padding: 0.2rem 1rem;
  width: 70%;
  color: white;
  text-align: end;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  z-index: -1;
}

.poster-img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: aqua;
  -webkit-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.poster-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: url("../images/hover_pattern.png") repeat;
  background-size: 11px;
  -webkit-transform: translate(-0.7rem, -0.7rem);
          transform: translate(-0.7rem, -0.7rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.poster:hover {
  cursor: pointer;
}

.poster:hover .poster-img:before {
  -webkit-transform: translate(-1.3rem, -1rem);
          transform: translate(-1.3rem, -1rem);
}

.poster:hover .poster-img:after {
  background-color: aqua;
  -webkit-transform: translate(1.9rem, 1.1rem);
          transform: translate(1.9rem, 1.1rem);
}

.poster:hover .event-tag {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.event-details {
  -webkit-box-shadow: 0 0 25px 3px rgba(200, 203, 212, 0.5);
          box-shadow: 0 0 25px 3px rgba(200, 203, 212, 0.5);
  background-color: #f0f0f0;
}

.detailed-poster-img {
  width: 100%;
  max-height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.detailed-poster-img img {
  width: 100%;
  max-height: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.content-side {
  border-left: 1px solid rgba(38, 41, 51, 0.4);
}

.content-side .details {
  padding: 0 2rem;
}

.content-side .details .eventName {
  border-bottom: 0.5rem solid rgba(38, 41, 51, 0.9);
}

.content-side .details .eventDesc {
  margin: 5rem 0;
}

.content-side .details .eventDesc p {
  font-size: 1.2rem;
}

.content-side .details .event-coordinator {
  color: rgba(38, 41, 51, 0.9);
}

.register-section {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.register-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/equip3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.register-section .form-group {
  margin: 2rem 0;
}

.register-section .card {
  width: 32rem;
  -webkit-box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
          box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
  margin: 1rem;
  background-color: transparent;
  z-index: 2;
}

.register-section .container {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-section .input-group-text {
  padding: 0.7rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid silver;
  border-radius: 0;
}

.fa {
  font-size: 1.5rem;
}

.register-section .input-group-text-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9ecef;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5rem;
  padding: 0.7rem 0.65rem;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: #495057;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid silver;
  border-radius: 0;
}

.register-section input, .register-section select {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid silver;
  border-radius: 0;
  padding-left: 1rem;
}

.register-section input:focus, .register-section select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid silver;
  background-color: transparent;
}

.register-section .input-group:focus-within > .placeholder,
.register-section .input-group:not(:focus-within):valid > .placeholder {
  top: -13px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.register-section .input-group .placeholder {
  position: absolute;
  left: 4rem;
  top: 1rem;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #495057;
}

.register-section .input-group input:not(:placeholder-shown) + label,
.register-section .input-group select:valid + label {
  top: -13px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.register-section .keepUp {
  top: -13px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.input-color {
  color: #495057;
}

.mybtn {
  background-color: #ff9166;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
  width: 100%;
}

.mybtn:hover {
  background-color: #ff7260;
  color: #ffffff;
}

.contact-us .card-body .contact-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 25rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us .card-body .contact-social .media-link {
  margin: 2rem;
}

footer {
  min-height: 5rem;
  text-align: center;
  padding: 1rem;
  background-color: rgba(38, 41, 51, 0.9);
  /*secondary*/
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #999999;
}

footer p {
  margin: 0 5rem;
}

.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-links .media-link {
  border: 1px solid #999999;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0 0.5rem;
}

.social-media-links .media-link:hover {
  border: 1px solid #dddddd;
}

.social-media-links .fab {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-media-links .media-link:hover .fab {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  color: #dddddd;
}

@media (min-width: 901px) and (max-width: 1100px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
  .carousel-caption {
    left: 5%;
  }
  .carousel-caption h1 {
    font-size: 4rem !important;
  }
  @-webkit-keyframes fade-in {
    0% {
      width: 0;
    }
    50% {
      width: 32rem;
    }
    100% {
      width: 0;
    }
  }
  @keyframes fade-in {
    0% {
      width: 0;
    }
    50% {
      width: 32rem;
    }
    100% {
      width: 0;
    }
  }
}

@media (max-width: 768px) {
  .content-side {
    border: none;
  }
}

@media (max-width: 990px) {
  .navbar-collapse .navbar-nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1300px) {
  .navbar-nav {
    margin-left: 5rem;
  }
  .nav-link {
    margin: 0 1rem;
  }
}

@media (max-width: 1200px) {
  .gallery::after,
  .gallery .overlay {
    display: none;
  }
}

.my-box-shadow {
  -webkit-box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
          box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.3);
}

.my-hover-div-1 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.my-hover-div-1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes move-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes move-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.color-register-page {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, right top, from(#e26777), color-stop(#fd896c), to(#fff066));
  background: linear-gradient(to right, #e26777, #fd896c, #fff066);
  background-size: 300%;
  position: relative;
  min-height: 100vh;
  -webkit-animation-name: move-bg;
          animation-name: move-bg;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.color-contact-page {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, right top, from(#D16BA5), color-stop(#86A8E7), to(#5FFBF1));
  background: linear-gradient(to right, #D16BA5, #86A8E7, #5FFBF1);
  background-size: 300%;
  position: relative;
  min-height: 100vh;
  -webkit-animation-name: move-bg;
          animation-name: move-bg;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.color-events-page {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, right top, from(#1b1241), color-stop(#4c1864), to(#7c0b92));
  background: linear-gradient(to right, #1b1241, #4c1864, #7c0b92);
  background-size: 300%;
  position: relative;
  min-height: 100vh;
  -webkit-animation-name: move-bg;
          animation-name: move-bg;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.color-gallery-page {
  background: -webkit-gradient(linear, left top, right bottom, from(#000428), to(#004e92));
  background: linear-gradient(to right bottom, #000428, #004e92);
}

.color-event-details-page {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, right top, from(#1b1241), color-stop(#4c1864), to(#7c0b92));
  background: linear-gradient(to right, #1b1241, #4c1864, #7c0b92);
  background-size: 300%;
  position: relative;
  min-height: 100vh;
  -webkit-animation-name: move-bg;
          animation-name: move-bg;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
/*# sourceMappingURL=style.css.map */