@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("/static/images/Sports.png");
    background-repeat: repeat;
    background-size: 15rem;
}


/* ####################################### Register form ###################################### */
.register-section .container{
    width: 35rem;
}
