{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
	<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
	<title>Reg</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<!-- AJAX -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>

</head>

<body>

	<nav class="navbar-expand-lg navbar">
		<div class="logo">
			<img src="{% static 'images/sports_com_logo.png' %}" alt="Sports Committee logo">
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'events' %}">Events</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'registrationpage' name='*' %}">Register</a>
				</li>
			</ul>
		</div>

	</nav>

	{% block content %}

	{% endblock %}

	<footer class="footer">

		<div class="copyrights">
			<p>&copy; All rights Reserved. SPIT Sports Committee</p>
		</div>
		<div class="social-media-links">
			<div class="media-link">
				<a href="https://www.instagram.com/spoorthi_spit/"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="media-link">
				<a href="https://www.facebook.com/SPoorthiSPIT/"><i class="fab fa-facebook"></i></a>
			</div>
			<!-- <div class="media-link">
				<a href=""><i class="fab fa-twitter"></i></a>
			</div>
			<div class="media-link">
				<a href=""><i class="fab fa-linkedin"></i></a>
			</div> -->
		</div>

	</footer>


	<script src="{% static 'CSS/bootstrap.bundle.min.js' %}"></script>
	<script>
		// window.setInterval('refresh()', 5000);
		// function refresh(){
		// 	window.location.reload()
		// }
	</script>
</body>

</html>