{% extends 'base.html' %}
{% load static %}

{% block title %}{{ pageTitle }}{% endblock %} 

{% block content %}

<div class="contact-us my-container color-contact-page">
  <div class="card mx-5">
    <div class="card-body">
      <div class="contact-people">
        <h1 class="title underline">Contact Us</h1>

        <div class="peop mb-4">

          <div class="person">
            <h4>Sports Secretary S.P.I.T</h4>
            <h5 class="text-prim">Darshan Somani <span class="contact-info"> 8180877448</span></h5>
          </div>
          <div class="person">
            <h4>Sports Vice Secretary S.P.I.T</h4>
            <h5 class="text-prim">Tanisha Kalathil <span class="contact-info"> 83697 80361</span></h5>
          </div>
          
          <div class="mb-3">
            <h4>Sports Technical Head S.P.I.T</h4>
            <div class="person"><h5 class="text-prim">Ojas Patil  <span class="contact-info"> 9619542526</span></h5></div><br>
            <div class="person"><h5 class="text-prim">Prathmesh Waghmode  <span class="contact-info"> 9699289215</span></h5></div>
          </div>

        </div>
        
        
        <div class="person text-center my-hover-div-1 underline">
          <a href="https://www.instagram.com/p/CUaibnwtpS5/"><h4>
              Core Committee Sports S.P.I.T</h4></a>
        </div>
      </div>

      <div class="contact-social">
        <div class="img-container">
            <img src="{% static 'images/contact-back-1.jpg' %}" alt="Sports illustration">
        </div>
        <div class="links-div">
          <div class="media-link link-1 my-hover-div-1">
            <a href="https://www.instagram.com/spoorthi_spit/"><i class="fab fa-instagram fa-3x"></i>
              <span class="link-desc">Instagram</span></a>
          </div>
          <div class="media-link link-2 my-hover-div-1">
            <a href="https://www.facebook.com/SPoorthiSPIT/"><i class="fab fa-facebook fa-3x"></i>
              <span class="link-desc">Facebook</span></a>
          </div>
          <div class="media-link link-3 my-hover-div-1">
            <a href="mailto:sports@spit.ac.in"><i class="far fa-envelope fa-3x"></i>
              <span class="link-desc">sports@spit.ac.in</span></a>
          </div>
          <div class="media-link link-4 my-hover-div-1">
            <a href="https://www.google.com/maps/place/Bharatiya+Vidya+Bhavan's+Sardar+Patel+Institute+of+Technology+(SPIT)/@19.1231776,72.8339267,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c9d90e067ba9:0x16268e5d6bca2e6a!8m2!3d19.1231776!4d72.8361154">
              <i class="fas fa-map-marker-alt fa-3x"></i>
              <span class="link-desc">Sardar Patel Institute of Technology, Andheri(W), Mumbai 400 058</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {% endblock %}