{% extends 'base.html' %}

{% block content %}

    <div class=" contact-us my-container">
        <div class="content card">
            <h2 class="title card-header">Contact Us</h2>
            <div class="card-body">
                <div class="contact-people">
                    <h5>Darshan Somani  +91 8180877448</h5>
                    <h5>Contact person 2</h5>
                    <h5>Contact person 3</h5>
                </div>
                <hr>
                <div class="contact-social">
                    <h5>Email</h5>
                    <h5>Facebook</h5>
                    <h5>Instagram</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}