{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-container event-details-container">
    <div class="event-details">
        <div class="row">
            <div class="col-md-5 col-sm-12 img-side py-5">
                <div class="detailed-poster-img">
                    <img src="{% static 'images/poster/Athletics.png' %}" alt="athletic">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 content-side py-5">
                <div class="details p-3">
                    <div class="eventName my-3">
                        <h3>Event Name</h3>
						<a href="{% url 'registrationpage' name='Athletics' %}">Register Here</a>
                    </div>
                    <div class="eventDesc my-3">
                        <p>Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quidem ipsa
                            cumque possimus vitae recusandae maxime soluta sit temporibus exercitationem! Obcaecati
                            voluptates explicabo neque ducimus optio eum vero nesciunt itaque!</p>
                    </div>
                    <div class="event-coordinator my-3">
                        <h5>Name1 - Contact1</h5>
                        <h5>Name2 - Contact2</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}