{% extends 'base.html' %}
{% load static %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
<div class="my-container event-details-container color-event-details-page">
    <div class="event-details">
        <div class="row px-2">
            <div class="col-md-5 col-sm-12 img-side py-5">
                <div class="detailed-poster-img px-2">
                    <!-- <img src="{% static 'images/poster/Athletics.png' %}" alt="athletic"> -->
                    <img src="/{{item.poster}}" alt="{{item.eventName}}">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 content-side py-5">
                <div class="details pb-3">
                    <div class="eventName mb-3 row">
                        <h2 class="col-md-8 col-sm-6">{{item.eventName}}</h2>
						<br>
                        {% if item.eventName == 'Carrom' or item.eventName == 'Badminton' or item.eventName == 'Table Tennis' %}
                            <div class="col-md-4  col-sm-6 ">
                                <a class="btn btn-primary mb-4 form-control" href="{% url 'registrationpage' name=item.eventName %} (S)">Register Here for Singles</a>
                                <a class="btn btn-primary mb-4 form-control" href="{% url 'registrationpage' name=item.eventName %} (D)">Register Here for Doubles</a>
                            </div>
						{% else %}
						<a class="col-md-4 col-sm-6 btn btn-primary mb-4" href="{% url 'registrationpage' name=item.eventName %}">Register Here</a>
                        {% endif %}
                    </div>
                    <div class="eventDesc">
                        <p>{{item.eventDesc}}</p>
                    </div>
                    <div class="event-coordinator my-5">
                        <h3 class="text-muted">Organizing Heads</h3><hr>
                        <h3>{{item.eventCoOrdinator1}} - {{item.eventCoOrdinator1Mob}}</h3>
                        <h3>{{item.eventCoOrdinator2}} - {{item.eventCoOrdinator2Mob}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}