{% extends 'base.html' %}
{% load static %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

<div class="my-container event-container color-events-page">
    <div class="all-posters">

        {% for event in allEvents %}
                <a class="poster" href="{% url 'event_details' name=event.eventName %}">
                    <div class="poster-img">
                        <img src="/media/{{event.poster}}" alt="{{event.eventName}} poster">
                        <span class="event-tag">{{event.eventName}}</span>
                    </div>
                </a>
        {% endfor %}

    </div>
</div>
{% if messages %}
	{% for message in messages %}
		{% if message.tags %}  
			<script>alert("{{ message }}")</script> 
		{% endif %}
	{% endfor %}
{% endif %}
{% endblock %}