{% extends 'base.html' %}

{% load static %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

	<div class="my-container color-gallery-page">
			
		<h1 class="mb-4" style="color: white;">Agility 2021</h1>
		<div class="gallery">
			{% for i in agility2021 %}
				<img src="{% static 'images/agility2021/' %}{{i}}" alt="{{ i }}">
			{% endfor %}
			<div class="overlay">Agility 2021</div>
		</div>
		
		<div style="height: 5rem;"></div>
		
		<h1 class="mb-4" style="color: white;">Glimpse of Past Years</h1>
		<div class="gallery">
			{% for i in glimpse %}
				<img src="{% static 'images/glimpse/' %}{{i}}" alt="{{i}}">
			{% endfor %}
			<div class="overlay">Glimpse of Past Years</div>
		</div>
	</div>
	
{% endblock %}