{% extends 'base.html' %}

{% load static %}


{% block content %}

<section class="carousel-area">
    <!-- #### Bootstrap Carousel -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" style="width: 100vw; height: 90vh;">
        <!-- <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div> -->
        <div class="carousel-inner" style="height:130vh">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="{% static 'images/spoorthi3.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>SPoorthi</h1>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'images/spoorthi4.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Agility</h1>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'images/marathon.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Marathon</h1>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'images/cyclothon.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>SPIT Cyclothon</h1>
                </div>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button> -->
    </div>
    <!-- #### Bootstrap Carousel end -->
</section>

<div class="bg-coral p-5 media-container">
    <div class="trailer-video-container">
        <video src="{% static 'images/trailer.mp4' %}" controls width="1000"></video>
    </div>

	<div class="theme-announcement">
		<h1>Theme</h1>
		<h4>This year witness _____ with SPoorthi</h4>
	</div>

	<div class="theme-video-container">
        <video src="{% static 'images/theme.mp4' %}" controls width="800"></video>
    </div>

    <div class="photos-container">
        <div class="photo">
            <img src="{% static 'images/spit.jpg' %}" alt="spit photo">
        </div>
        <div class="photo">
            <img src="{% static 'images/newspaper.jpg' %}" alt="news article">
        </div>
    </div>
</div>

<div class="timeline">
	<h1>Timeline here!!!</h1>
</div>

{% endblock %}