
{% extends 'base.html' %}

<!--Block content goes below-->


  {% block content %}


	<div class="register-section">

		<div class="container">
			<!-- ############################################## registration form ########################################### -->
			<div class="card bg-light">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center">Registration</h4>
					<p class="text-center text-secondary">Get registered and prove you are a Champion</p>

					<form method="POST">
						{% csrf_token %}
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input name="fullName" class="form-control" placeholder="Full name" type="text" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
							</div>
							<input name="email" class="form-control" placeholder="Email address" type="email" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
							</div>
							<input name="mobNo" class="form-control" pattern="[789][0-9]{9}" placeholder="Phone number" type="text" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text-select"> <i class="fa fa-gamepad fa-sm"></i> </span>
							</div>
							<select class="form-control input-color" id="event" name="event" required>
								<option value="" selected="Select job type">Select Sport</option>
								<option value="Turf Cricket">Turf Cricket</option>
								<option value="Turf Football">Turf Football</option>
								<option value="Volleyball">Volleyball</option>
								<option value="Badminton (S)">Badminton (Singles)</option>
								<option value="Badminton (D)">Badminton (Doubles)</option>
								<option value="Carrom (S)">Carrom (Singles)</option>
								<option value="Carrom (D)">Carrom (Doubles)</option>
								<option value="Athletics">Athletics</option>
								<option value="Chess">Chess</option>
								<option value="Dodgeball">Dodgeball</option>
							</select>
						</div> <!-- form-group end.// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-university"></i> </span>
							</div>
							<!-- <input name="mobNo" class="form-control" placeholder="Phone number" type="text" required> -->
							<input type="text" class="form-control" placeholder="College Name" id="collegeName"
								name="collegeName" required>
						</div> <!-- form-group// -->
						<!-- <label for="collegeName">College Name</label> -->
						<div class="form-group">
							<button type="submit" class="btn mybtn btn-block"> Register </button>
						</div> <!-- form-group// -->

					</form>
				</article>
			</div> <!-- card.// -->

		</div>
		<!--container end.//-->
	</div>

	<script>
		$(document).ready(function() {
		// Construct URL object using current browser URL
		var url = new URL(document.location);
		console.log(url)

		// Get query parameters object
		var params = url.pathname;
		console.log(typeof params)
		
		// Get value of paper
		var pramsList = params.split("/")
		console.log(pramsList.slice(-1)[0])
		// Set it as the dropdown value
		
		$("#event").val(pramsList.slice(-1)[0]);
		});
	</script>

	{% endblock %}