{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
	<title>Reg</title>
</head>

<body>

	<div class="register-section">

		<div class="container my-5">
			<!-- ############################################## registration form ########################################### -->
			<div class="card bg-light">
				<article class="card-body mx-auto" style="max-width: 400px;">
					<h4 class="card-title mt-3 text-center">Registeration</h4>
					<p class="text-center text-secondary">Get registered and prove you are a Champion</p>

					<form method="POST">
						{% csrf_token %}
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-user"></i> </span>
							</div>
							<input name="fullName" class="form-control" placeholder="Full name" type="text" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
							</div>
							<input name="email" class="form-control" placeholder="Email address" type="email" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
							</div>
							<input name="mobNo" class="form-control" placeholder="Phone number" type="text" required>
						</div> <!-- form-group// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-gamepad"></i> </span>
							</div>
							<select class="form-control" name="event" required>
								<option value="" selected="Select job type">Select Sport</option>
								<option value="Cricket">Cricket</option>
								<option value="Football">Football</option>
								<option value="Volleyball">Volleyball</option>
								<option value="Badminton">Badminton</option>
							</select>
						</div> <!-- form-group end.// -->
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-university"></i> </span>
							</div>
							<!-- <input name="mobNo" class="form-control" placeholder="Phone number" type="text" required> -->
							<input type="text" class="form-control" placeholder="College Name" id="collegeName"
								name="collegeName" required>
						</div> <!-- form-group// -->
						<!-- <label for="collegeName">College Name</label> -->
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block"> Register </button>
						</div> <!-- form-group// -->

					</form>
				</article>
			</div> <!-- card.// -->

		</div>
		<!--container end.//-->
	</div>


</body>

</html>