
{% extends 'base.html' %}

{% block content %}

<div class="my-container bg-coral">
	{% for values in data %}
		{% if forloop.counter|divisibleby:2 %}
			<h1>{{values.0}}</h1>
			<p>{{values.1}}</p>
			<p>{{values.2}}</p>
		{% endif %}
		{% if not forloop.counter|divisibleby:2 %}
			<h1>{{ values.0 }}</h1>
			<p>{{values.1}}</p>
			<p>{{values.2}}</p>
		{% endif %}
	{% endfor %}
</div>

<script>
	window.setInterval('refresh()', 5000);
	function refresh(){
		window.location.reload()
	}
</script>

{% endblock %}
